.btn-green {
display: inline-block;
background-color: none;
color: white;
border: 1px solid #AFD2E4;
padding: 16px 36px;
border-radius: 50px;
}

.btn-green:hover {
  border: 1px solid #AFD2E4;
  transition: 0.2s;
  color: #090A1B;
}
