.btn-green{
display: inline-block;
background-color: #47C266;
color: white;
border: 1px solid #47C266;
padding: 16px 36px;
border-radius: 50px;
}

.btn-green:hover{
  background-color: white;
  border: 1px solid #47C266;
  transition: 0.2s;
  color: #47C266;
}
