.footer{
  text-align: center;
  background-color: #183049;
  padding: 60px;
}

.links {
  display: inline-block;
}

.footer a {
  font-size: 30px;
  color: #AFD2E4;
}

.footer p{
  font-size: 23px;
  color: #F9F3EC;
}
